#typeahead-tag-container
  #tags-wrapper
    - tags.each do |tag|
      .span.label.label-info.existing-tag= tag.name

  = hidden_field_tag :get_all_tag_url, "#{admin_app.get_all_tags_path}"
  = hidden_field_tag :taggable, "#{taggable}"
  #add-tag-input-wrapper.hidden
    #message-wrapper
    = text_field_tag :tag_suggest, nil, class: 'typeahead form-control', placeholder: 'Add Tag'
    = link_to 'Done', '#', id: 'done-text'


  = link_to 'Add Tag', '#', id: 'add-tag-text'
