#blog-main-area
  %h2 Create New Blog
  = render 'admin/shared/typeahead_tag', tags: @blog.tags, taggable: 'blog'

  = simple_form_for @blog, url: {action: :create}, html: {role: 'form'} do |f|
    = render 'admin/shared/typeahead_tag_form_wrappers'
    = f.hidden_field :user_id, value: @blog.user_id
    = f.input :title, input_html: {tabindex: 1}
    = f.input :contents, input_html: {rows: "15", tabindex: 2, id: 'blog-editor'}
    = f.button :submit, "Save Draft", class: "btn btn-default", tabindex: 3

  = enable_ckeditor('blog-editor')

