!!! 5
%html{lang: 'en'}
  %head
    %title= yield :title
    = stylesheet_link_tag    "admin/application", media: "all"
    = javascript_include_tag "admin/application"
    = csrf_meta_tags

  %body
    .container-fluid.reset-container
      .row-fluid
        .col-xs-2.side-bar
          = render 'layout_partials/application/side_bar'
        .col-xs-10.main-area
          - if alert
            %p.alert.bg-warning= alert
          - if notice
            %p.notice.bg-success= notice
          - if flash[:success]
            %p.notice.bg-success= flash[:success]
          - if flash[:error]
            %p.alert.bg-warning= flash[:error]
          = render 'header'
          = yield
