!!! 5

%html{lang: 'en'}
  %head
    %title= @title || "Welcome to My Website!"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' }/

  %body
    .container.full-width.no-padding
      = render 'layout_partials/application/header'
      .row
        .col-xs-12
          .content-wrapper
            = yield
      .row
        = render 'layout_partials/application/footer'
